{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>
    Welcome to the For Sale site
</h1>
<h2>
    Listings
</h2>
{{if len(posts) > 0:}}
<table class="table table-striped">
    {{for p in posts:}}
    <tr>
    	<td>Listing by: {{=p.name}}</td>
    	<td>Listing title: {{=p.title}}</td>
    	<td>Posted on: {{=p.date_posted}}</td>
    	<td>{{=A('View', _class='btn', _href=URL('default', 'view', args=[p.id]))}}</td>
    </tr>
    {{pass}}
</table>
{{else:}}
<p>
    There are no listings.
</p>
{{pass}}
{{=A('Add a post', _class='btn', _href=URL('default', 'add'))}}
